//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/home/c/.local/share/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-common.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-light-hard.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-light-hard.rasi"
//@theme "/usr/share/rofi/themes/Arc.rasi"
//@theme "/usr/share/rofi/themes/Arc.rasi"
//@theme "/usr/share/rofi/themes/Paper.rasi"
@theme "/usr/share/rofi/themes/Arc.rasi"
