[Desktop Entry]
Name= disconnect hdmi
Comment=Run my custom script
Exec=~/dotfiles/disconnecthdmi.sh
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Utility;
